/*Page Studio*/
body {
  font-family: Roboto, sans-serif;
  color: #434455;
  background-color: #ffffff;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.list {
  list-style: none;
}
.name-menu {
  font-weight: 500;
}
.address {
  font-style: normal;
}
a {
  text-decoration: none;
  color: #2e2f42;
}
.logo {
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  color: #4d5ae5;
  font-size: 18px;
  text-align: left;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.logo-part-two {
  color: #2e2f42;
  font-size: 18px;
  text-align: left;
  line-height: 1.17;
  letter-spacing: 0.03em;
  font-family: Raleway, sans-serif;
  text-transform: uppercase;
}
:root {
  --title-main-color: #2e2f42;
  --text-main-color: #434455;
  --fon-main-color: #ffffff;
  --accent-main-color: #4d5ae5;
  --fon-second-color: #2e2f42;
}

.link {
  text-decoration: none;
}
.logopart2 {
  color: #2e2f42;
}
nav {
  font-weight: 800;
}
.contacts {
  color: #434455;
  font-style: normal;
}
.contacts:hover,
.contacts:focus {
  color: #404bbf;
}
.name-menu:hover,
.name-menu:focus {
  color: #404bbf;
}
.section-one {
  background-color: #2e2f42;
}
.section-one-title {
  color: #ffffff;
  text-shadow: 0px 4px 4px black;
  text-align: center;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
}
.button-service {
  color: #ffffff;
  background-color: #4d5ae5;
  letter-spacing: 0.04em;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}
.button-service:hover,
.button-service:focus {
  background-color: #404bbf;
}
.section-two {
  text-align: left;
}
h2,
h3 {
  color: #2e2f42;
}
.hidden {
  visibility: hidden;
}
.section-two-title {
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 20px;
}
.section-tree-title,
.section-four-title {
  font-size: 36px;
  line-height: 1.111;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  font-weight: 500;
}
.section-four {
  background-color: #f4f4fd;
}
.teammate,
.section-four-text {
  text-align: center;
}
.teammate {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
footer {
  background-color: #2e2f42;
  color: #ffffff;
}
.logofooter {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.logo-footer {
  color: #f4f4fd;
  font-size: 18px;
  text-align: left;
  line-height: 1.17;
  font-weight: 800;
  letter-spacing: 0.03em;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
}
.footer-text {
  color: #f4f4fd;
}
.team-card {
  background-color: #ffffff;
}

/*Page Portfolio*/

.project_menu {
  text-align: center;
  list-style: none;
}
.project_type {
  background-color: #f4f4fd;
  color: var(--accent-main-color);
  letter-spacing: 0.04em;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}
.project_type:hover {
  color: white;
  background-color: #404bbf;
}
.project_type:hover {
  color: white;
  background-color: #404bbf;
}
.title-portfolio {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  font-weight: 500;
  color: var(--text-main-color);
}
